activity.log
cache
console
DockableWindowManager
dtds
history
jars
jars-cache
killring.xml
mirrorList.xml
perspective.xml
PluginManager.download
pluginMgr-Cached.xml.gz
plugins
properties
recent.xml
registers.xml
ruby
server
settings-backup
sshtools
